DependencyInjectionConteiner/bin
DependencyInjectionConteiner/obj
DependencyInjectionConteiner/TestResults
*.csproj
*.sln
DependencyInjectionConteinerTests/bin
DependencyInjectionConteinerTests/obj
DependencyInjectionConteiner/.vs